body {
    color: white;
    background-color: black;
    font-family: sans-serif;
}
#container-loading {
    display: none;
}
#container-list:empty + #container-loading {
    display: block;
}
.container .clear-confirm,
.container .clear-progress,
.container .clear-done {
    display: none;
}
.container[data-confirm-timer] .clear-confirm,
.container[data-in-progress] .clear-progress,
.container[data-done-timer] .clear-done {
    display: inline;
}
.container {
    border-left: 1rem solid;
}
