@import url(mozilla-icon.css);

[data-identity-icon="default_no-container"] {
    --identity-icon: url("../img/default.svg");
}
[data-identity-icon="default_private"] {
    --identity-icon: url("../img/private.svg");
}

.container-icon {
    background-image: var(--identity-icon);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px;
    fill: var(--identity-icon-color);
    filter: url("../img/mozilla-filters.svg#fill");
    display: inline-block;
    width: 16px;
    height: 16px;
}
