@import url(container.css);

:root {
    color-scheme: light dark;
}
body {
    color: light-dark(#0c0c0d, #ffffff);
    background-color: light-dark(#ffffff, #2a2a2e);
    font-family: "Segoe UI", "San Francisco", "Ubuntu", sans-serif;
    cursor: default;
}
fieldset {
    border: none;
    border-bottom: 1px solid #d7d7db;
    margin: 0 0 2rem 0;
    padding: 0 0 2rem 0;
}
fieldset > legend {
    font-size: 20px;
    font-weight: 600;
    padding: 0;
}
fieldset > p {
    margin: 0.5rem 0;
}
button {
    border: none;
    color: light-dark(#0c0c0d, #ffffff);
    background-color: light-dark(rgba(12, 12, 13, 0.1), #4a4a4f);
    border-radius: 2px;
    font-size: 13px;
    height: 32px;
    padding: 0 8px;
}
button:hover {
    background-color: light-dark(rgba(12, 12, 13, 0.2), #737373);
}
button:active {
    background-color: light-dark(rgba(12, 12, 13, 0.3), transparent);
}
button:focus {
    box-shadow:
        0 0 0 1px #0a84ff inset,
        0 0 0 1px #0a84ff,
        0 0 0 4px rgba(10, 132, 255, 0.3);
}

#clean-shortcut ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 2.2;
}
#clean-shortcut ul li input {
    width: 1.5rem;
    margin: 0 0.5rem 0 0;
    padding: 0;
}
#clean-shortcut ul li .container-icon {
    vertical-align: sub;
}
#clean-shortcut ul li .container-name {
    margin-left: 0.3rem;
}
#clean-shortcut ul hr {
    visibility: hidden;
}
#clean-shortcut .regex-input {
    display: block;
    margin-left: 2rem;
    width: calc(100% - 2rem);
    box-sizing: border-box;
}

#import-json-picker {
    display: none;
}
