:root {
    color-scheme: light dark;
}
body {
    color: light-dark(black, white);
    background-color: light-dark(ghostwhite, black);
    font-family: sans-serif;
}
#container-loading {
    display: none;
}
#container-list:empty + #container-loading {
    display: block;
}
#container-list {
    padding: 0;

    hr {
        visibility: hidden;
    }
}
.container {
    border: 1px solid darkgray;
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 0.3rem 0;
    position: relative;
    cursor: pointer;
    user-select: none;

    .container-name {
        border-left: 1rem solid;
        display: block;
        padding: 0.6rem 0.5rem;
    }
    .container-popin {
        display: none;
        position: absolute;
        top: 0;
        padding: 0.6rem 0.5rem;
        width: calc(100% - 4rem);
    }
}
.container:hover {
    background-color: light-dark(gainsboro, darkslategray);
}
.container[data-state="ready"] .container-popin,
.container[data-state="confirm"] .container-popin {
    color: white;
    background-color: red;
}
.container[data-state="inProgress"] .container-popin,
.container[data-state="done"] .container-popin,
.container[data-state="readyDone"] .container-popin {
    color: white;
    background-color: maroon;
}
.container[data-state="inProgress"] .container-popin,
.container[data-state="confirm"] .container-popin,
.container[data-state="done"] .container-popin {
    display: block;
    animation: 0.5s slide-in forwards;
}
.container[data-state="ready"] .container-popin,
.container[data-state="readyDone"] .container-popin {
    display: block;
    animation: 0.5s slide-out forwards;
}
.container .container-popin .clean-confirm,
.container .container-popin .clean-progress,
.container .container-popin .clean-done {
    display: none;
}
.container[data-state="ready"] .container-popin .clean-confirm,
.container[data-state="confirm"] .container-popin .clean-confirm,
.container[data-state="inProgress"] .container-popin .clean-progress,
.container[data-state="done"] .container-popin .clean-done,
.container[data-state="readyDone"] .container-popin .clean-done {
    display: inline;
}

@keyframes slide-in {
    from {
        display: none;
        right: calc(-100% + 4rem - 1rem);
    }
    to {
        display: block;
        right: 0;
    }
}
@keyframes slide-out {
    from {
        display: block;
        right: 0;
    }
    to {
        display: none;
        right: calc(-100% + 4rem - 1rem);
    }
}
