:root {
    color-scheme: light dark;
}
body {
    color: light-dark(black, white);
    background-color: light-dark(ghostwhite, black);
    font-family: sans-serif;
}
#popup-loading {
    display: none;
}
#cleaner-list:empty + #popup-loading {
    display: block;
}
#cleaner-list {
    padding: 0;

    hr {
        visibility: hidden;
    }

    .cleaner {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        .cleaner-button {
            flex: 1 0 auto;
            border: 1px solid darkgray;
            border-radius: 0.5rem;
            overflow: hidden;
            margin: 0.3rem 0;
            position: relative;
            cursor: pointer;
            user-select: none;

            .cleaner-name {
                border-left: 1rem solid;
                display: block;
                padding: 0.6rem 0.5rem;
            }
            .cleaner-popin {
                position: absolute;
                top: 0;
                padding: 0.6rem 0.5rem;
                width: calc(100% - 4rem);
            }
        }
        .cleaner-button:hover {
            background-color: light-dark(gainsboro, darkslategray);
        }
        .cleaner-pin {
            flex: 0 0 auto;
            margin-left: 0.3rem;
            cursor: pointer;
            user-select: none;
        }
    }

    .cleaner[data-state="ready"] .cleaner-popin,
    .cleaner[data-state="confirm"] .cleaner-popin {
        color: white;
        background-color: red;
    }
    .cleaner[data-state="inProgress"] .cleaner-popin,
    .cleaner[data-state="done"] .cleaner-popin,
    .cleaner[data-state="readyDone"] .cleaner-popin {
        color: white;
        background-color: maroon;
    }
    .cleaner[data-state="inProgress"] .cleaner-popin,
    .cleaner[data-state="confirm"] .cleaner-popin,
    .cleaner[data-state="done"] .cleaner-popin {
        display: block;
        animation: 0.5s slide-in forwards;
    }
    .cleaner[data-state="ready"] .cleaner-popin,
    .cleaner[data-state="readyDone"] .cleaner-popin {
        display: block;
        animation: 0.5s slide-out forwards;
    }

    .cleaner .cleaner-popin .cleaner-confirm,
    .cleaner .cleaner-popin .cleaner-progress,
    .cleaner .cleaner-popin .cleaner-done {
        display: none;
    }
    .cleaner[data-state="ready"] .cleaner-popin .cleaner-confirm,
    .cleaner[data-state="confirm"] .cleaner-popin .cleaner-confirm,
    .cleaner[data-state="inProgress"] .cleaner-popin .cleaner-progress,
    .cleaner[data-state="done"] .cleaner-popin .cleaner-done,
    .cleaner[data-state="readyDone"] .cleaner-popin .cleaner-done {
        display: inline;
    }

    .cleaner .cleaner-pin::before {
        content: "📌";
    }
    .cleaner[data-pin-order] .cleaner-pin::before {
        content: "📍";
    }
}

@keyframes slide-in {
    from {
        display: none;
        right: calc(-100% + 4rem - 1rem);
    }
    to {
        display: block;
        right: 0;
    }
}
@keyframes slide-out {
    from {
        display: block;
        right: 0;
    }
    to {
        display: none;
        right: calc(-100% + 4rem - 1rem);
    }
}
